* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poopins", sans-serif;
}
body {
  background-color: rgb(45, 46, 47);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.container {
  padding: 25px;
  background-color: #ccc;
  max-width: 460px;
  width: 100%;
  border: 10px solid gray;
  border-radius: 3px;
}
.container h1 {
  text-align: center;
  margin-bottom: 5px;
  font-family: monospace;
  font-size: 30px;
}
.container .item {
  color: #fff;
  max-width: 400px;
  width: 100%;
  background-color: black;
  margin: 6px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .item .text {
  font-size: 16px;
  font-weight: bold;
}

i {
  cursor: pointer;
  font-size: 25px;
}
